# Warm up
Let's start with some warm up exercises to get you familiar with the database and do some SQL querying.
Make sure to have downloaded the NBA dataset form Kaggle as described in the README.

In [ ]:
import sqlite3 as sql
import pandas as pd
from pathlib import Path

## TODO: Use pathlib to get the path to the data directory. Path(__file__) won't work in a Jupyter notebook.
DATA_PATH = Path.cwd() / 'data' / "nba.sqlite"

## Create a SQLite connection and run some SQL queries

In [ ]:
con = sql.connect(DATA_PATH)  # connect to the database
query = 'SELECT * FROM game LIMIT 10'  # write a query that selects the first 10 rows from the game table
top_10_game = pd.read_sql(query, con)  # read the query into a pandas dataframe
top_10_game.head()  # print the dataframe

In [ ]:
# let's look at the schema of the database
# TODO: sqlite_master is the name of the table you want to inspect: Replace TABLE_NAME with the name of the table you want to inspect
query = """
    SELECT * FROM sqlite_master 
"""

pd.read_sql(query, con).sort_values('name')

In [ ]:
# let's see all the tables we have in the database
# TODO: Filter for tables only
query = """
    SELECT name
    FROM sqlite_master
    WHERE type='table'
"""
pd.read_sql(query, con)

In [ ]:
# let's have a look at the columns in the game table
query = """
    PRAGMA table_info(draft_combine_stats)
"""
pd.read_sql(query, con)

In [ ]:
# let's find the earliest recorded game
query = """
    SELECT game_date
    FROM game
    ORDER BY game_date
    LIMIT 1
"""

print(pd.read_sql(query, con))

# let's find the latest recorded game
query = """
    SELECT game_date
    FROM game
    ORDER BY game_date DESC
    LIMIT 1
"""

print(pd.read_sql(query, con))

In [ ]:
# TODO: Find four interesting facts about the data and write a query to find the answer

# Get column names from draft_history table
query = """
    PRAGMA table_info(draft_history)
"""
pd.read_sql(query, con)

# Find highest overall pick for each team in draft_history table, dont sum the pick numbers
query = """
    SELECT team_abbreviation, MAX(overall_pick) AS highest_overall_pick
    FROM draft_history
    GROUP BY team_abbreviation
    ORDER BY highest_overall_pick DESC
"""
pd.read_sql(query, con)

query= """
    PRAGMA table_info(player)
"""
# Find total number of active players in player table using is_active column
query = """
    SELECT SUM(is_active) AS total_active_players
    FROM player
""" 
pd.read_sql(query, con)

In [ ]:
# Find the school that produced the most NBA players using common_player_Info table
query = """
    SELECT school, COUNT(*) AS player_count
    FROM common_player_info
    WHERE school IS NOT NULL AND school != ''
    GROUP BY school
    ORDER BY player_count DESC
    LIMIT 10
"""
pd.read_sql(query, con)